.nav-item {
  color: white;
  padding-top: 29px;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.nav-item-logo img {
  width: 70px;
  height: auto;
  vertical-align: middle;
}

.navbar {
  color: white;
  background-color: #4291a0;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer{
  background-color: #4291a0;
}

.logout{
  margin-left: 445px;
}

.main{
  display: none;
}
