

<body>
  <div class="full-width-image">
      <img src="../../assets/home-image.jpeg" alt="Home Image" class="img-fluid" />
  </div>
</body>
<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1>About Us Page</h1>
    <br>
    <!-- <p>Some text about who we are and what we do.</p> -->
    <p>Smart IT Partner.</p>
  </div>
  <br><br>
  <h2 style="text-align:center">Our Team</h2>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/team1.png" alt="Amine" style="width:100%">
        <div class="container">
          <h2>Amine Mezghich</h2>
          <p class="title">CEO & Founder of Smart IT Partner</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>amine@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../assets/team2.png" alt="Reina" style="width:100%">
        <div class="container">
          <h2>Barry Reina</h2>
          <p class="title">Stagiaire</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
</section>


